@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
  font-family: 'IBM Plex Sans', 'Open Sans', sans-serif;
}

.logbook-card {
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.statscard h1 {
  display: inline;
  font-size: 32pt;
  font-weight: 600;
}

.statscard p {
  font-size: 10pt;
  margin-left: 3px;
}

.statscard span {
  font-size: 13pt;
  margin-left: 3px;
  display: inline;
}

.statscard .log-comment {
  font-size: 14pt;
  line-height: 1.5;
}

@media all and (max-width: 1000px) {
  .statscard h1 {
    font-size: 26pt;
  }

  .statscard span {
    display: block;
  }
}

@media all and (max-width: 400px) {
  .statscard h1 {
    font-size: 26pt;
  }

  .statscard span {
    display: block;
  }

  .table {
    font-size: 10pt;
  }
}